@font-face {
	font-family: 'Lotuss-Smart-HL';
	src: url('./fonts/Lotuss-Smart-HL/LotussSmartHL-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lotuss-Smart-HL';
	src: url('./fonts/Lotuss-Smart-HL/LotussSmartHL-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Lotuss-Smart-HL';
	src: url('./fonts/Lotuss-Smart-HL/LotussSmartHL-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Lotuss-Smart-HL';
	src: url('./fonts/Lotuss-Smart-HL/LotussSmartHL-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
